<%- include("partials/header") -%> 
<div class="abtTxt">
  
    <figure>
        <div class="abtHeading">
            <p>About Us</p>
                </div>
        <blockquote>
            Getting women in STEM isn't the real problem. We are on a mission to help women in STEM (Science, Technology, Engineering, Mathematics) and make them believe in their brilliance and that is what this website aims to do.
            WooTech aims to help close the exposure gap starting in our local communities by building a bridge for girls to become more interested and confident in technology, graduate with technology degrees and successfully work on engineering teams. 
           It contains a progress checker(which helps engineering students to track their progress and work accordingly),  resources(through which one can take help from these resources when they are confused about where the should study from), TedX Talks(contains a collection of TedX talks from Women Leaders who empower women's involvement in technology and talks about their experiences) and a list of Opportunities for women in tech. This website has been designed to help women who are aiming to aspire a carreer in technology.
                   </blockquote>
    </figure>
    
</div>


<%- include("partials/footer") -%> 