<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIV risk Assessment Test</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="skills">
        <h1 class="headingCard">Great</h1>
        <div class="skill-row">
          <img class="code" src="/images/smile.png" alt="">
          <div class="code-txt">
          <h2>Well Done!</h2>
          <p class="code-description">It seems you are good to go. Keep doing like this. You are not far from getting placed in your dream company.🥳</p> 
        </div>
      </div>
       
      </div>




</body>

</html>