<%- include("partials/header") -%> 
<div class="CONTACT">

<div class="abtTxt">
    <h1 class="abtHeading">Get in Touch!</h1>
   
  <div class="contBox">
  <a href="https://www.linkedin.com/in/apoorva-kaushal-6297a81b8/">
    <div class="cardContact">
      <i class="fab fa-linkedin fa-3x"></i>
       <p class="contactpage"> Apoorva Kaushal</p>
      
    </div>
  </a>
  <a class="gmail" href="mailto:apoorvakaushal93@gmail.com">
    <div class="cardContact">
      <i class="fas fa-envelope fa-3x"></i>
       <p class="contactpage"> Apoorva Kaushal</p>
      
    </div>
  </a>
  <a class="phone" href="">
    <div class="cardContact">
      <i class="fas fa-phone-alt fa-3x"></i>
       <p class="contactpage"> Apoorva Kaushal
        +91 8381885119
       </p>
      
    </div>
  </a>
  <a class="github" href="https://github.com/ApoorvaKaushal09">
    <div class="cardContact">
      <i class="fab fa-github fa-3x"></i>
             <p class="contactpage"> Apoorva Kaushal</p>
      
    </div>
  </a>
</div>
      </div>
        
</div>

<%- include("partials/footer") -%> 