<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIV risk Assessment Test</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/first" method="post">
      <div class="containermainquiz">

        <h1 class="assest_quiz">Progress checker</h1>
        <div class="mainquiz">
  
            
  
           <div class="card">
  
          <h3 >Have you started learning any programming language?<br></h3>
          
          <input type="checkbox" name="year1_ans11"  class="option"><b>No, not yet</b><br>
          <input type="checkbox" name="year1_ans12" id="yes1" class="option">  <b>Yes, I have started</b><br>
          <input type="checkbox" name="year1_ans13" id="yes1" class="option">  <b>I am already familiar with a programming language.</b><br>
         
          
        </div>
        <div class="card">
  
          <h3>Which language you are flexible with?<br></h3>
          <input type="checkbox" name="year1_ans21" id="yes1" class="option">  <b>Java/C++</b><br>
          <input type="checkbox" name="year1_ans22" id="yes1" class="option">  <b>other</b><br>
          
        </div>
        <div class="card">
  
          <h3>Have you started doing practising in any of the plaatform?<br></h3>
          <input type="checkbox" name="year1_ans31" id="yes1" class="option">  <b>HackerRank</b><br>
          <input type="checkbox" name="year1_ans32" id="yes1" class="option">  <b>HackerEarth</b><br>
          <input type="checkbox" name="year1_ans33" id="yes1" class="option">  <b>Others</b><br>
          <input type="checkbox" name="year1_ans34" id="yes1" class="option">  <b>None</b><br>
          
        </div>
        
  
    
  </div>
      </div>
    <button type="submit" class="result" name="submit" onclick="">Check</button>

</form>
</body>
</html>