<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allison&family=Lobster&family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/eb0500dc77.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
<title>WooTech</title>
</head>
<body>
    
        <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <p class="navbar-brand" style="color: black;"><a href="/" >WooTech</a></p>
              </div>
                <ul class="nav navbar-nav navbar-right">
                 
                  <li style="color: black;" id="home"><a href="/">HOME</a></li>
                  <li style="color: black;" id="about"><a href="/quiz">PROGRESS</a></li>
                  <li style="color: black;" id="contact"><a href="/TedX">TEDX</a></li>
                  <li style="color: black;" id="contact"><a href="/resources">RESOURCES</a></li>
                  <li style="color: black;" id="contact"><a href="/about">ABOUT US</a></li>
                  <li style="color: black;" id="contact"><a href="/contact">CONTACT US</a></li>

                </ul>
            </div>
          </nav>
        <div class="banner-container" style="background-image:url(/images/background.png);">
            <div class="banner-text">
                <h1 style="font-size: 15rem;">WooTech</h1>
                <h3 style="font-size: 3rem;">Growing together to make a better tomorrow!</h3>
                </div>
            </div>
        </div>
<div class="about">
    <h1>About Us</h1>
    <p style="font-size: 2rem;">  Getting women in STEM isn't the real problem. We are on a mission to help women in STEM (Science, Technology, Engineering, Mathematics) and make them believe in their brilliance and that is what this website aims to do.
         WooTech aims to help close the exposure gap starting in our local communities by building a bridge for girls to become more interested and confident in technology, graduate with technology degrees and successfully work on engineering teams. 
        It contains a progress checker(which helps engineering students to track their progress and work accordingly),  resources(through which one can take help from these resources when they are confused about where the should study from), TedX Talks(contains a collection of TedX talks from Women Leaders who empower women's involvement in technology and talks about their experiences) and a list of Opportunities for women in tech. This website has been designed to help women who are aiming to aspire a carreer in technology.
        </p>
</div>
<div class="boxes">
<main>
    <div><img src="/images/progress.png" alt=""></div>
    <div class="con-1"><h2>Check your Progress</h2>
        <p style="font-size: 2rem;">This is an interactive assessment tool that will assist individuals on deciding what their progress is and what to do according to that. This assessment tool consists of series of questions specific to your current year whose responses will be recorded and as a result one can check their progress.
            The online, mobile-friendly tool asks a series of questions, and based on the user’s responses, provides recommended actions.</p>
        <a href="/quiz"><button type="submit" name="buttonCompose" class=" btn btn-success">Check</button></a>

    </div>
</main>
<div class="box2">
    <div class="con-2"><h2>TedX Talks</h2>
        <p style="font-size: 2rem;">Women are severely underrepresented in Technology careers.  One of the drivers behind this inequality is the insufficient exposure to technology at a young age.  Without even realizing it, we have socialized pursuing a career in technology to be more attractive to men.  Thankfully, it’s not too late to make a change. Hear from Women Leaders talking about their experiences.</p>
        <a href="/TedX"><button type="submit" name="buttonCompose" class=" btn btn-success">Watch</button></a>

    </div>
    <div><img class="img2" src="images/resources.png" alt=""></div>
</div>
<main>
    <div><img src="/images/progress.png" alt=""></div>
    <div class="con-1"><h2>Resources</h2>
        <p style="font-size: 2rem;"> Confused about where to study from and what resources to follow? Here is a complete list of resources which contains study materials of all the subjects that are needed to prepare for placements.
            </p>
        <a href="/resources"><button type="submit" name="buttonCompose" class=" btn btn-success">Browse</button></a>
    </div>
</main>
</div>
<div class="opportunity">
 <h1 class="oppo-txt">List of Opportunities</h1>

<div class="sec">
    <!-- <a href="/stigma"><img src="images/4year.png" width="260px" alt=""></a> -->
    <a href="/opportunity"><img src="images/opportunities.png" width="260px" alt=""></a>

</div>
   
</div>


<section class="contact" id="contact">
    <div class="max-width">
       <h2 class="con-title">Contact Us</h2>
       <div class="column right">
           <form action="#">
               <div class="fields">
                   <div class="field name">
                       <input type="text" placeholder="Name" required>
                   </div>
                   <div class="field email">
                       <input type="email" placeholder="Email" required>
                   </div>
               </div>
               <div class="field">
                   <input type="text" placeholder="Subject" required>
               </div>
               <div class="field textarea">
                   <textarea cols="30" rows="10" placeholder="Message.." required></textarea>
               </div>
               <div class="button-area">
                   <button type="submit">Send message</button>
               </div>
           </form>
       </div>
    </div>
</section>

<footer>
   <p>©<i>2021  Apoorva Kaushal</i></p>
</footer>