
<%- include("partials/header"); -%> 



    <div class="bloghead">
        <h1 style="font-size: 7rem;">List Of Opportunity</h1>
        <h3>Here is an amazing website which includes all the opportunities. You can browse throough it and apply for them. Link for <a href="https://hack-the-opportunities.netlify.app">Opportunities </a></h3>
        
      </div>
    
    
   




       






<%- include("partials/footer"); -%>