<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIV risk Assessment Test</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/quiz" method="post">
    <div class="containermainquiz">

        <h1 class="assest_quiz">Progress Checker</h1>
        <div class="mainquiz">

            

           <div class="card">

          1. From Which year you belong?<br>
          <input type="checkbox" name="year1" id="yes1" class="option">  <b>1st Year</b><br>
          <input type="checkbox" name="year2" id="yes1" class="option">  <b>2nd Year</b><br>
          <input type="checkbox" name="year3" id="yes1" class="option">  <b>3rd Year</b><br>
          <input type="checkbox" name="year4" id="no1" class="option"> <b>4th Year</b><br>
          
        </div>
        <div class="card-one ">

            2. From Which college you belong?<br>
            <input type="text">
            
          </div>

        
      <div class="card-one">

        3. Select your Graduating Year.<br>
        <select name="cars" id="cars">
            <option value="volvo">2021</option>
            <option value="saab">2022</option>
            <option value="mercedes">2023</option>
            <option value="audi">2024</option>
          </select>
        
      </div>

    
  </div>
      </div>
    </div>
    <button type="submit" class="result" name="submit" onclick="">Check</button>

</form>
</body>
</html>