
<%- include("partials/header"); -%> 



    <div class="bloghead">
        <h1 style="font-size: 7rem;">Resources</h1>
        <h2 style="margin: 70px; margin-bottom: 100px;">  Here is a collection of resources for engineering students. You can find all the materials that are important for your placement. Be it for studying purpose, coding platforms or interview preparation.  </h2>
        </div>


       
<div class="TED">
    <h3 class="tedtalk">Data Structures and Algorithm | Placement Oriented </h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/w9AbHXPKp_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          <figure>
        
      
      <blockquote><h4>This Channel aims to provide with Curated Education to Students who want to grow, improve, learn and do something Big in their life. So, Learn the Curated Stuff and also show your friends and Juniors the Right Path. </h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Data Base Management System</h3>
<iframe width="854" height="480" src="https://www.youtube.com/embed/kBdlM6hNDAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      <figure>
        
      
      <blockquote><h4>There is discussion on all the important topics of DBMS syllabus which will be useful for all competitive exams like GATE, NTA NET, NIELIT, DSSSB, IT Officer, PSUs etc. as well as College/ University exams. Students will get tips for how to prepare DBMS in best way.

    </h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Object Oriented programming</h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/bSrm9RXwBaI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figure>
        
      
      <blockquote><h4>Java OOPs in One Shot | Object Oriented Programming | Java Language | Placement Course

    </h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Web Development</h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/l1EssrLxt7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      <figure>
        
      
      <blockquote><h4>Introduction to Web Development | World's most premium Web Development Course.</h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">App Development </h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/EplH-amHTtE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      <figure>
        
      
      <blockquote><h4>In this Course, You can learn android app development from Basics to Expert Level from Certified Android Developer. If you don't know any programming language still you can learn everything about android app development. In this course, we also learn to solve your code bugs for become play store ready Android Developer Android Development Course.
    </h4></blockquote>
    </figure>
</div>
<div class="TED">
    <h3 class="tedtalk">Competitive Programming and Data Structures Platforms </h3>
        <img src="https://cdn.codechef.com/images/cc-logo-sd.svg" alt="">
        <img src="https://codeforces.org/s/70991/images/codeforces-logo-with-telegram.png" alt="">
        <!-- <img src="https://leetcode.com/static/images/LeetCode_logo_rvs.png" alt=""> -->
        <img src="https://assets.interviewbit.com/assets/ibpp/brand-5c6255a15a1b1307a1b8a2bf0bcb149b1ff9513ab2854c7d391b3faf5f33848f.svg.gz" alt="">

    </figure>
</div>





<%- include("partials/footer"); -%>