<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIV risk Assessment Test</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/second" method="post">
      <div class="containermainquiz">

        <h1 class="assest_quiz">Progress checker</h1>
        <div class="mainquiz">
  
            
  
          <div class="card">
  
            <h3>Have you started doing competitive Programming?<br></h3>
            <input type="checkbox" name="year2_ans11" id="yes1" class="option">  <b>No,not yet</b><br>
            <input type="checkbox" name="year2_ans12" id="yes1" class="option">  <b>Yes, started exploring them</b><br>
            
          </div>
          
           <div class="card">
  
          <h3>Have you taken part in any hackathon<br></h3>

          <input type="checkbox" name="year2_ans21"  class="option"><b>No, not yet</b><br>
          <input type="checkbox" name="year2_ans22" id="yes1" class="option">  <b>Yes, I have started</b><br>
         
          
        </div>
        <div class="card">
  
          <h3>Do you know about git,github and opensource<br></h3>
          <input type="checkbox" name="year2_ans31" id="yes1" class="option">  <b>No,not yet</b><br>
          <input type="checkbox" name="year2_ans32" id="yes1" class="option">  <b>Yes, started exploring them</b><br>
          
        </div>
        <div class="card">
  
          <h3>Have you started doing development?<br></h3>
          <input type="checkbox" name="year2_ans41" id="yes1" class="option">  <b>No,not yet</b><br>
          <input type="checkbox" name="year2_ans42" id="yes1" class="option">  <b>Yes, started exploring them</b><br>
          
        </div>
        <div class="card">
  
          <h3>Have you started contributing in open source?<br></h3>
          <input type="checkbox" name="year2_ans51" id="yes1" class="option">  <b>No,not yet</b><br>
          <input type="checkbox" name="year2_ans52" id="yes1" class="option">  <b>Yes, started exploring them</b><br>
          
        </div>



        
        
  
    
  </div>
      </div>
    <button type="submit" class="result" name="submit" onclick="">Check</button>

</form>
</body>
</html>