
<%- include("partials/header"); -%> 



    <div class="bloghead">
        <h1 style="font-size: 7rem;">Hear from Women Leaders</h1>
        <h2 style="margin: 70px; margin-bottom: 100px;">  What happens, unintentionally, when the people who design, engineer and develop a technology or product don’t resemble the actual users of the product?  The results can be deadly! And yet, women are severely underrepresented in Technology careers.  One of the drivers behind this inequality is the insufficient exposure to technology at a young age.  Without even realizing it, we have socialized pursuing a career in technology to be more attractive to men.  Thankfully, it’s not too late to make a change. </h2>
        </div>





<div class="TED">
    <h3 class="tedtalk">The key to more women in technology | Marianna Budnikova </h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/XebNxUE3ugA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figure>
        
      
      <blockquote><h4>Have you ever wondered why programming is seen as a man’s game? Where are all the women software developers hiding? Marianna Budnikova is a software engineer at Microsoft. Back when she was in college, she set upon a quest to find out why there are so few women in tech. In this talk, Marianna shares her discovery about what takes young girls and women away from technology, and gives some suggestions for tackling the problem.
    </h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Inspiring the next generation of female engineers | Debbie Sterling </h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/FEeTLopLkEo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <figure>
        
      
      <blockquote><h4>Close your eyes and picture and engineer. You probably weren't envisioning Debbie Sterling.  Debbie Sterling is an engineer and founder of GoldieBlox, a toy company out to inspire the next generation of female engineers. She has made it her mission in life to tackle the gender gap in science, technology, engineering and math.</h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Fei-Fei Li · Computer scientist</h3>
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/fei_fei_li_how_we_re_teaching_computers_to_understand_pictures" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
      <figure>
        
      
      <blockquote><h4>When a very young child looks at a picture, she can identify simple elements: "cat," "book," "chair." Now, computers are getting smart enough to do that too. What's next? In a thrilling talk, computer vision expert Fei-Fei Li describes the state of the art -- including the database of 15 million photos her team built to "teach" a computer to understand pictures -- and the key insights yet to come.

    </h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Crystal Martin · Technology</h3>
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/sheryl_sandberg_why_we_have_too_few_women_leaders" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>

      <figure>
        
      
      <blockquote><h4>Crystal Martin landed her first job in tech helping women learn code, but there was just one problem, no one would listen to her in meetings. "Why is it that 41% of women leave the tech field within their tenth year? In my opinion, it's because of messages like keep your head down and say nothing." In this energetic talk, Martin pushes for women to advocate for one another in the workplace, stressing that hard work does not speak for itself--you do.

    </h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Anne-Marie Slaughter</h3>
    <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/anne_marie_slaughter_can_we_all_have_it_all" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
      <figure>
        
      
      <blockquote><h4>Public policy expert Anne-Marie Slaughter made waves with her 2012 article, "Why women still can't have it all." But really, is this only a question for women? Here Slaughter expands her ideas and explains why shifts in work culture, public policy and social mores can lead to more equality -- for men, women, all of us.</h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">The vanishing Indian tech woman | Rashmi Mohan </h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/Hb-xlJgvCm4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figure>
        
      
      <blockquote><h4>Rashmi Mohan is a technologist, an engineer and a budding entrepreneur. Until recently, she was a Sr. Engineering Manager at Yahoo Labs in Bangalore. She has spent 15+ years in various technical and management roles in the industry. She has a background in Front end engineering and led a group of scientists and engineers within Yahoo Labs.
    </h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">How Computer Science Made Me Brave | Madeline Griswold </h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/nZ1ehJqXor0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figure>
        
      
      <blockquote><h4>Madeline is a junior at Brown University concentrating in Computer Science, with a focus on Machine Learning. She has participated in Brown’s Computer Graphics and Reinforcement Learning research groups and interned as a Software Engineer at Bloomberg. Madeline’s passion lies in CS education, as she has taught many elementary, middle, and high school students how to code. Outside of technology, Madeline enjoyed showing people around campus as a science tour guide and taking photographs around the city.</h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Ada Lovelace: The Original Woman in Tech | Zoe Philpott </h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/1QQ3gWmd20s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figure>
        
      
      <blockquote><h4>When Ada Lovelace created the world’s first complex computer program in 1843 she stated she would “rather be great than be known as great”, and - like so many female innovators through the ages, history soon forgot her. Now, as society becomes more gender equal year on year, women are expected to stand up and be counted. “History is full of male role models to inspire the men, but where are the female role models like Ada Lovelace to inspire the rest of us?” asks Zoe Philpott, UK-based experience director, and creator of Ada.Ada.Ada. Philpott tells us about Lovelace, using technology that women helped to create, and asks us to locate more great women from history and tell their stories.</h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Why is it crucial to empower women in Tech? | Ayumi Aoki</h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/pY_aNYBvizM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figure>
        
      
      <blockquote><h4>In this Talk Ayumi Aoki talks on why we need to see more women in the industry, how to provide support and help for diversity to happen, as well as other topics. Ayumi Moore Aoki is the founder Women in Tech, an organisation network for promoting technology careers for women. She is also the founder & CEO of Social Brain This talk was given at a TEDx event using the TED conference format but independently organized by a local community..</h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Indian Girls Code | Aditi Prasad |</h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/86O2khAeO5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figure>
        
      
      <blockquote><h4>Aditi Prasad founded Indian Girls Code to introduce programming and technology to a new generation of coders in India. She sought to empower underprivileged girls in an orphanage in Trichy using coding and robotics. Watch this talk to learn more about this empowering movement.</h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">Women in Technology: through the eyes of my daughter | Mark MacNaughton </h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/HYtYz19-rOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figure>
        
      
      <blockquote><h4>Mark MacNaughton has been an Information Technology leader for many years.  He viewed the lack of women leaders in science and technology related fields as a simple math problem.  A kitchen table conversation with his daughter made him realize that while it is math problem,  it isn’t the one he was trying to solve. </h4></blockquote>
    </figure>
</div>

<div class="TED">
    <h3 class="tedtalk">How Does a Female CEO in Technology Balance Her Roles | Amy Gile</h3>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/a5olW9uvsqM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      <figure>
        
      
      <blockquote><h4>Amy Gile has played many roles in her life. Among them: model, actress, film producer and tech CEO. Here she explores the question of the roles and narratives: how do we navigate scripts as we make decisions throughout our lives about who we are and who we want to be? Amy takes us through her journey and struggles that took her from an Elite model to Founder and CEO in the technology company Silverdraft Supercomputing.</h4></blockquote>
    </figure>
</div>





<%- include("partials/footer"); -%>