<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HIV risk Assessment Test</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/third" method="post">
      <div class="containermainquiz">

        <h1 class="assest_quiz">Progress checker</h1>
        <div class="mainquiz">
  
            
  
          <div class="card">
  
            <h3>Have you started learning DSA?<br></h3>
            <input type="checkbox" name="year3_ans11" id="yes1" class="option">  <b>No,not yet</b><br>
            <input type="checkbox" name="year3_ans12" id="yes1" class="option">  <b>Yes, started </b><br>
            
          </div>
          
           <div class="card">
  
          <h3>Are you solving questions from leetcode or interviewbit or following any DSA sheet?<br></h3>

          <input type="checkbox" name="year3_ans21"  class="option"><b>No, not yet</b><br>
          <input type="checkbox" name="year3_ans22" id="yes1" class="option">  <b>Yes, I have started</b><br>
         
          
        </div>
        <div class="card">
  
          <h3>Have you applied for any internships?<br></h3>
          <input type="checkbox" name="year3_ans31" id="yes1" class="option">  <b>No,not yet</b><br>
          <input type="checkbox" name="year3_ans32" id="yes1" class="option">  <b>Yes, started exploring them</b><br>
          
        </div>

        <div class="card">
  
          <h3>Have you started learning DBMS, OOPS, Networking?<br></h3>
          <input type="checkbox" name="year3_ans31" id="yes1" class="option">  <b>No,not yet</b><br>
          <input type="checkbox" name="year3_ans32" id="yes1" class="option">  <b>Yes, started exploring them</b><br>
          
        </div>
        
  
          



        
        
  
    
  </div>
      </div>
    <button type="submit" class="result" name="submit" onclick="">Check</button>

</form>
</body>
</html>